
<style>
  p.formbutton {
    margin: 20px;
  }
</style>

<?php echo $this->Form->create('sendAMail', array('type' => 'post')); ?>

<p class="formbutton">
  <?php echo $this->Form->button('Submit1', array('name'=>'submit1')); ?>
</p>

<p class="formbutton">
  <?php echo $this->Form->button('Submit2', array('name'=>'submit2')); ?>
</p>

<p class="formbutton">
  <?php echo $this->Form->button('Submit3', array('name'=>'submit3')); ?>
</p>

<p class="formbutton">
  <?php echo $this->Form->button('Submit4', array('name'=>'submit4')); ?>
</p>

<p class="formbutton">
  <?php echo $this->Form->button('Submit5',array('name'=>'submit5')); ?>
</p>

<?php echo $this->Form->end(); ?>
